#hobby{
    font-size:30px;
}
#first{
    position: relative;
    overflow: hidden;
    left:0;
    right: 0;
    top:0;
    bottom:0;
    color:#FFFFFF;
    opacity:0.83;
    background:linear-gradient(#ba6161 0%, #de1b1b 100%);
    display:table;
    width: 100%;
    height:100%;
    z-index: 9;
}

#di1{
    display:table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
}
#bio{
  padding: 50px;
    text-align: center;
    font-size: 25px;
    margin-bottom: 300px;
}


#img1{
    width:400px;
    height: 550px;
    margin-bottom: 20px;
    margin-left: 550px;
    border-radius: 30px;
}
#next{
    width: 200px;
    height: 50px;
    margin-left: 650px;
    border-radius: 20px;
}
#idols{
    background-color: lightcyan;
}
#next2{
    width:200px;
    height: 50px;
    border-radius: 20px;
margin-left: 650px;
     margin-top: 20px;
}
#img2{
    border-radius: 30px;
      width:450px;
    height: 550px;
    margin-left:550px;
}
#myimg{
    margin-top: 100px;
    background-color: greenyellow;
}
#aims{
    background-color: lightcoral;
    margin-top: 100px;
}
#img3{
    margin-left: 550px;
    width:400px;
    height: 550px;
    border-radius: 30px;
}
#next3{
    width:200px;
    height: 50px;
    border-radius: 20px;
margin-left: 650px;
     margin-top: 20px;
}
button{
    font-family: cursive;
    font-size: 30px;
}
#books{
    text-align: center;
    font-size: 25px;
}




.menu{
    font-family: fantasy;
    list-style: none;
    position: absolute;
    top:10px;
    right:30px;
    z-index: 10;
    cursor:pointer;
}
.links{
    float: left;
    color:#fff;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 5px;
    font-family: fantasy;
    font-size: 20px;
    
}
.links:hover{
    background-color: blue;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: black;
}

#img1{
   margin-top: 30px;
    border-radius: 20px;
}
#apps{
    width:100%;
    height: 800px;
    background-color: lightcoral;
    padding-top:30px;
}
#games{
    width: 100%;
    height: 800px;
    background-color:lightblue;
    padding-top: 30px;
}
.line{
    width:70px;
    height:6px;
    margin: 8px auto;
    background-color: darkred;
    
}
#imgg{
    transition: transform .2s;
    border-radius: 20px;
    margin-left: 20px;
}
#imgg:hover{
    transform: scale(0.9);
}
#chat{
    background-color: chocolate;
    padding-top: 50px;
  
    width: 100%;
    height: 800px;
}
#myw{
    text-align: center;
}
#books{
    margin-bottom: 100px;
}



















